

	<div class="container">
		<h1>{{title}}</h1>
		{{#if Username}}
		<div class="" style="float:right">
			<a href="/logout">LogOut</a>
		</div>
		{{/if}}
		<table class="table">
			<thead>
				<tr>
					<th>Username</th>
					<th>Password</th>
					<th></th>
				</tr>
				<tr>
					<td><input class="form-control username-input"></td>
					<td><input class="form-control password-input"></td>
					<td><button class="btn btn-primary add-user">Add</button></td>
				</tr>
			</thead>
			<tbody class="users-list"></tbody>
		</table>
	</div>

	<script type="text/template" class="users-list-template">
	<td><span class="username"><%= username %></span></td>
  <td><span class="password"></span></td>
	<td><button class="btn btn-warning edit-user" style="display:none">Edit</button>
    <button class="btn btn-danger delete-user" style="display:none">Delete</button>
    <button class="btn btn-success update-user" style="display:none">Update</button>
    <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>

	</script>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="js/scripts.js"></script>
