<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <meta charset="UTF-8">
  </head>
  <body>
    {{#if username}}
    <div class="" style="float:right">
      <a href="/logout">LogOut</a>
    </div>
    {{/if}}
    {{{body}}}
  </body>
</html>
